<div class = "text-center">
    <div class = "mb-5">
        <h1>News!</h1>
        <p>Only authorised users can read and write news</p>
    </div> 
    <button class = "bth btn-info" (click) = "signInService.signInWithGoogle()">Sign In with Google</button>
     
</div>


