

<div class = "text-center">
  <h1>Last 7 days</h1>
  <table class = "table table-bordered table-hover table-sm">
    <thead>
      <th>Date</th>
      <th>Total Deaths</th>
      <th>Total Recovered</th>
      <th>Total Cases</th>
    </thead>
    <tbody>
      <tr *ngFor="let summary of getLastSevenDays()">
        <td>{{ summary.Date | date}}</td>
        <td>{{ summary.Deaths }}</td>
        <td>{{ summary.Recovered }}</td>
        <td>{{ summary.Confirmed }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class = "text-center">
  <h1>Entire history</h1>
  
  <table class = "table table-bordered table-hover table-sm">
  <thead>
    <th>Date</th>
    <th>Total Deaths</th>
    <th>Total Recovered</th>
    <th>Total Cases</th>
  </thead>
  <tbody>
    <tr *ngFor="let summary of getEntireHistory()">
      <td>{{ summary.Date | date }}</td>
      <td>{{ summary.Deaths }}</td>
      <td>{{ summary.Recovered }}</td>
      <td>{{ summary.Confirmed }}</td>
    </tr>
  </tbody>
  </table>

  <div class = "text-center">
    <p>Data is taken from <a href = "https://api.covid19api.com">Johns Hopkins API</a>!</p>
  </div>
</div>
