<div class = "my-3">
    <div class = "text-center">
        <img 
        style = "width: 5%"
        src = "https://firebasestorage.googleapis.com/v0/b/covid19-atereh.appspot.com/o/covid_icon.png?alt=media&token=702d0ca4-acc7-4303-ac3e-5c9bf88368cf"
        alt = "COVID icon"
        />
        <h1>COVID-19</h1>
        <p>Live Updates and <a href = "/signin">News</a>!</p>
    </div>
    <table class = "table table-bordered table-hover table-sm">
        <thead>
            <th>Country</th>
            <th>Total Cases</th>
            <th>Total Recoveries</th>
            <th>Total Deaths</th>
        </thead>
        <tbody>
            <tr *ngFor="let country of getCountries()">
                <td [routerLink]="'/countries/' + country.Slug">
                {{ country.Country }}
                </td>
                <td>{{ country.TotalConfirmed }}</td>
                <td>{{ country.TotalRecovered }}</td>
                <td>{{ country.TotalDeaths }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="display: block;">
    <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div>
<div class = "text-center">
    <p>Data is taken from <a href = "https://api.covid19api.com">Johns Hopkins API</a>!</p>
</div>
