<h4>Add your COVID-19 news here</h4>
<form (ngSubmit) = "addNews()">
    <div class = "row mb-3">
        <div class="col-md-6">
            <label for = "titleInput">Title</label>
            <input type="text" 
            id="titleInput" 
            name = "titleInput" 
            class = "form-control"
            placeholder="What happened? (briefly)"
            [(ngModel)]="title">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
                <label for = "descriptionInput">Description</label>
                <input type="text-area" 
                id="descriptionInput" 
                name = "descriptionInput" 
                class = "form-control"
                placeholder="Please, explain in details!"
                [(ngModel)]="description">
        </div>
    </div>
    <button class = "btn btn-primary">Add</button>
</form>
